<div class="row">
    <div class="navbar me-auto mb-2 mb-lg-0 border-bottom">
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Tecnología')">Tecnología</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Economía')">Economía</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Deportes')">Deportes</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Opinión')">Opinión</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Cultura')">Cultura</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Ciencia')">Ciencia</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Política')">Política</a></div>
        <div class="col"><a class="dropdown-item pointer" (click)="searchByTopic('Salud')">Salud</a></div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md-4">
        <form class="d-flex me-4">
            <input (keyup)="searchArticle()" [(ngModel)]="searchArt" [ngModelOptions]="{standalone: true}"
            class="form-control me-2 text-center" type="text" placeholder="Buscar noticias" aria-label="Text">
        </form>
    </div>
</div>
<div class="row my-3">
    <div class="col-md-4 my-2 zindex" *ngFor="let article of filteredArticles">
        <div data-aos="zoom-in-up" class="card mt-2 bg-white pointer" (click)="getArticleId(article._id)">
          <img src="{{article.imgUrl}}" class="card-img-top" alt="noticia">
          <div class="card-body">
            <div class="text-center text-info fs-4">
                {{article.title}}
            </div>
            <div class="text-black">
                {{article.body}}
            </div>
          </div>
            <div class="card-footer">
              <div class="row">
                <div class="col ms-3 badge bg-info text-wrap fs-6" style="width: 7rem;">{{article.topic}}</div>
                <div class="col text-end fst-italic text-info">{{article.author}}</div>
              </div>
            </div>
        </div>
    </div>
</div>
