<section class=" p-3 border-bottom">
  <div class="row">
      <div class="col align-self-end">
          <h5 class="text-start">{{fecha | date: 'fullDate'}}</h5>
      </div>
      <div class="col ">
          <h1 class="text-center">Noti<span class="text-danger">Red</span> </h1>
      </div>
      <div class="col align-self-end text-end">
          <a href="https://www.facebook.com/tothron/" target="_blank" class="me-4 text-reset fs-5">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a target="_blank" href="https://twitter.com/ronrtoth" class="me-4 text-reset fs-5">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://youtube.com" target="_blank" class="me-4 text-reset fs-5">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://instagram.com" target="_blank" class="me-4 text-reset fs-5">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
</section>