
<div class="row my-5">
    <div class="col-md-4 my-4">
        <div style="border-radius: 1rem; width: 15rem;" class="card text-center">
            <img style="border-radius: 9rem;" src="../../../../assets/perfil.jpg" class="card-img" alt="perfil">
            <div class="card-body text-info my-0">
                @{{user}}
            </div>
            <div class="card-footer">
                Artículos: 27 <br>
                Favoritos: 32 <br>
                Seguidores: 150 <br>
            </div>
        </div>
    </div>
    <div class="col-md-8  align-items-center">
        <form #formArticle="ngForm" (ngSubmit)="createArticle(formArticle)">
            <div class="mb-3">
                <input type="text" class="form-control" [(ngModel)]="buffArticle.title" name="title" placeholder="Título del artículo artículo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <textarea class="form-control" [(ngModel)]="buffArticle.body" name="body" placeholder="Redacta tu artículo" rows="5"></textarea>
            </div>
            <div class="mb-3">
                <input class="form-control" [(ngModel)]="buffArticle.comments" name="comments" placeholder="Comentarios" rows="2">
            </div>
            <div class="mb-3">
                <input class="form-control" [(ngModel)]="buffArticle.imgUrl" name="imgUrl" placeholder="imgurl">
            </div>
            <div class="mb-3">
                <input class="form-control" [(ngModel)]="buffArticle.author" name="author" placeholder="author">
            </div>
            <div class="mb-3">
                <input class="form-control" [(ngModel)]="buffArticle.topic" name="topic" placeholder="topic">
            </div>
            <!-- <div class="mb-3">
                <input   type="file" class="form-control" id="artImg">
                <label for="artImg" class="form-label text-center">Agrega imágenes o videos</label>
            </div> 
            <div class="row m-2">
                <div class="col">
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Tecnología
                        </label>
                    </div>
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Economía
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Deportes
                        </label>
                    </div>
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Opinión
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Cultura
                        </label>
                    </div>
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Ciencia
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Política
                        </label>
                    </div>
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Salud
                        </label>
                    </div>
                </div>
            </div> -->
            <div class="row justify-content-center mt-3">
                <div class="col-2">
                    <button type="submit" class="btn btn-danger">Publicar</button>
                </div>
            </div>
            </form>
    </div>
</div>

<!-- Show user articles -->
<div class="row">
    <div class="col">
        <div class="card text-center fs-4">
            Mis artículos
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-block ">
        <div class="col-6 m-auto" *ngFor="let article of articles">
            <ng-container *ngIf="article.author === user">
                <div data-aos="zoom-in-up" class="card mt-2 bg-white">
                    <div class="card-header text-center text-white bg-info">
                        {{article.title}}
                    </div>
                    <img src="../../../../assets/news.jpg" class="card-img-top" alt="noticia">
                    <div class="card-subtitle text-end me-3 fst-italic text-info">
                        {{article.author}}
                    </div>
                    <div class="card-body text-black">
                        {{article.body}}
                    </div>
                    <div class="card-footer">
                        {{article.topic}} - {{article.comments}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>